#left {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding: 2vh 2vw;
    background-color: rgb(105, 105, 105);
    color: #f6f6f6;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    margin: 1vh auto;
}

.search-opt {
    margin-bottom: 3vh;
}

.input-date {
    width: 70%;
    height: 22px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.select-lan {
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.input-keyword {
    border-radius: 5px;
    width: 80%;
    height: 22px;
    border: none;
}

#right {
    box-sizing: border-box;
    border-top: 1px solid black;
    width: 80%;
    padding: 2vh 2vw;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    font-size: 16px;
    background-color: rgb(105, 105, 105);
    color: #f6f6f6;
}

tr {
    height: 40px;
}

.all-tr:hover {
    cursor: pointer;
    background-color: rgb(255, 233, 143);
}


td {
    text-align: center;
    max-width: 15vw;
    /* 禁止文字換行 */
    white-space: nowrap;
    /* 隱藏超出元素範圍的內容 */
    overflow: hidden;
    /* 顯示省略號以表示被截斷的文字 */
    text-overflow: ellipsis;
    border-bottom: 1px solid black;
}


#detail-dialog {
    width: 60%;
    height: 60%;
    padding: 3vh 3vw;
    background-color: #f6f6f6;
}

#dialog-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#detail-h3 {
    font-size: 20px;
}

#detail-table {
    margin: 1vh auto 2vh auto;
}

#detail-title {
    height: 40px;
    border: 1px solid black;
    background-color: rgb(105, 105, 105);
    color: white;
}

.detail-tr {
    height: 130px;
    border: 1px solid black;
}

.detail-title-th {
    height: 40px;
    border: 1px solid black;
}

.detail-lan {
    width: 80px;
    border: 1px solid black;
}

.detail-text {
    text-align: left;
    white-space: normal;
    overflow: auto;
    border-bottom: 1px solid black;
    padding: 5px 10px;
}