#sign-in-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#sign-in-page-box {
    box-sizing: border-box;
    margin: 5vh auto;
    max-width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(105, 105, 105);
    width: 450px;
    min-height: 350px;
    color: white;
}

h1 {
    text-align: center;
}

#sign-in-form,
#errorMsg {
    padding: 0 10%;
}

.input-box {
    margin: 5% auto;
}

.submit-btn {
    margin-top: 10%;
}


.input-style {
    border: 0;
    /* border-bottom: 1px solid black; */
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 30px;
    margin-top: 2%;
    padding: 0 10px;
    font-size: 16px;
    color: black
}

.input-style:focus {
    outline: none;
    font-size: 20px;

}

::placeholder {
    color: rgb(146, 146, 146);
}

#errorMsg {
    font-size: 16px;
    color: rgb(255, 91, 91);
}

#submit {
    width: 50%;
}

#errorMsg {
    color: red;
    font-size: 14px;
}